<?xml version="1.0" encoding="UTF-8"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear />
    <add name="stringaConnessioneWeb" connectionString="Database=Sql1432939_1;Server=89.46.111.193;uid=Sql1432939; pwd=7606438e64;" />
    <add name="stringaConnessioneTestWeb" connectionString="Database=Sql1399902_1;Server=89.46.111.162;uid=Sql1399902; pwd=0240be030d;" />
    <add name="stringaConnessioneTestLocale" connectionString="Database=moneyBox ;Server=127.0.0.1;User=root; password=;" />
  </connectionStrings>

  <appSettings>
    <!--
    livelloEsecuzione:
      L: Locale
      W: WEB cliente
      T: Test WEB
    -->
    <add key="livelloEsecuzione" value="W" />
    <add key="pathWebServicesWeb" value="https://www.dolcemare.eu/interrogaDB.asmx/" />
    <add key="pathWebServicesTestWeb" value="https://www.dolcemare.eu/interrogaDB.asmx/" />
    <add key="pathWebServicesTestLocale" value="https://localhost:44348/interrogaDB.asmx/" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <system.web.extensions>
       <scripting>
           <webServices>
               <jsonSerialization maxJsonLength="50000000"/>
           </webServices>
       </scripting>
   </system.web.extensions>
   <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
   </system.webServer>
</configuration>